<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css"></link>
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/md5/md5.js"></script>
    <script src="/js/login/login.js"></script>
    
</head>
<body>
<div class="loginForm">
<form action="/Index/login" method="post">
<div th:if="${status != null}"><span th:text="${status}"/></div>
<div>用户名:<input name= "username"/></div>
<div>密码:<input type="password" name= "password"/></div>
<div><input type="submit" value="登录"/></div>
<!-- <div><input id="submitButton" type="button" value = "登录"/></div> -->
</form>
</div>
</body>
</html>