* {
	margin:0px;
	padding:0px;
}
ul,li{
	list-style: none;
}
select,input {
	border-radius: 0px;
	padding: 0;
	border: 1px solid #ddd;
	height: 25px;
}
.pc_listb {
	height: 100%;
}
.main-content{
	height:100%;
	position: relative;
	overflow: hidden;
	padding-top: 40px;
	box-sizing: border-box;
	/* background: #f1f1f1; */
}
.topContent{
	height: 40px;
	line-height: 40px;
	width: 100%;
	background: #fff;
	box-sizing: border-box;
	border-bottom: 1px solid #E7E7E7;
}
.leftBar{
	float: left;
}
.exportDiv{
	float: right;
	margin-right: 20px;
}
.btn-export {
	background: #6ea0e3;
	margin-top: 3px;
	position: absolute;
	right: 0;
}
.textName{
	display: inline-block;
}

.contentDiv{
	height: 100%;
	clear: both;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
	overflow: auto;
}

.box-shadow{
	height: 100%;
	border: 1px solid #e6eaeb;
	box-shadow: 0px 0px 8px #d9d7d6;
	box-sizing: border-box;
}
.tableDivWrap .box-shadow{
	padding: 0 10px 10px 10px;
}
.tableDivWrap{
	width: 100%;
	height: 58%;
	background-color: #fff;
	box-sizing: border-box;
}
.chartDiv-top{
	border-right:  1px dashed #ddd;
}
.chartDiv-top,.chartDiv-bottom{
	float:  left;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	background-color: #fff;
}
.chartWrap{
	width: 100%;
	height: 40%;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom:  10px;
}
.chartWrap .box-shadow{
	padding: 0 10px 10px 10px;
}
.chartTitle {
	text-align: center;
	font-size: 14px;
	color: #272727;
	height: 40px;
	border-bottom: 1px solid #E6E7E9;
	margin: 0 10px;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	clear: both;
}
.chartDiv{
	width: 100%;
	height: 100%;
	/*height: 165px;*/
}
.chartDiv-top .chartDiv{
	padding-bottom: 10px;
	box-sizing: border-box;
}

.tableDiv{
	width: 100%;
	height: 100%;
}

.selectDiv{
	display: inline-block;
	position: relative;
}
.topDiv{
	height: 40px;
	line-height: 40px;
	margin: 0 10px;
	margin-top: -40px;
	border-bottom: 1px solid #E7E7E7;
}
.topDiv > ul > li{
	float: left;
	border-right: 1px solid #ccc;
	margin: 10px 0;
	height: 20px;
	line-height: 20px;
	position: relative;
}
.topDiv > ul > li:last-child {
	border-right: 0px;
	padding-left: 10px;
}
.select-name {
	cursor: pointer;
	padding: 0 5px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}
.triangleGrey {
	display: inline-block;
	vertical-align: middle;
	width: 0px;
	height: 0px;
	border-width: 4px 4px 0px 4px;
	border-style: solid;
	border-color: #797979 transparent transparent transparent;
	margin: -2px 5px 0 0;
}
.name-icon {
	margin: -3px 5px 0 5px;
}
.disable-name .selectA, .disable-name .selectA:link {
	color: #ccc;
	cursor: not-allowed;
}
.disable-name img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.select-info {
	position: absolute;
	min-width: 100%;
	max-height: 300px;
	line-height: 30px;
	background: #FFFFFF;
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,.2);
	z-index: 999;
	margin-top: 10px;
	overflow-y:  auto;
}
.select-city .city-info{
	position: absolute;
	width: 320px;
	background: #FFFFFF;
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,.2);
	z-index: 99999;
	margin-top: 10px;
}
.select-city ul li{
	padding: 5px 12px;
	float: left;
	line-height: 20px;
}
.current-city{
	background: #F0F0F0;
	line-height: 35px;
	text-align: left;
	padding-left: 10px;
}
.city-list .current a{
	color: #4CAAF4;
}
.city-list{
	padding: 10px 0;
}
.select-info > p {
	display: block;
	padding: 0 10px;
	cursor: pointer;
	text-align: center;
	white-space:  nowrap;
}
.select-info > p:hover,.selected{
	background-color: #71cbf2;
}
.radioDiv {
	display: inline-block;
	margin-right: 10px;
}
.btn-bg {
	height: 25px;
	line-height: 25px;
}
.btn-sure {
	background: #65c16a;
	margin-top: -3px;
}
.chartDivWrap,.tbWrap{
	/*display: none;*/
	width: 100%;
	height: 100%;
	padding-top: 30px;
	box-sizing: border-box;
}
.chartTop,.tbTitle{
	text-align: center;
	line-height: 30px;
	margin-top: -30px;
	position:  relative;
}
.tabUl{
	float: left;
}
.tabUl li{
	float: left;
	padding: 2px 5px;
	margin:  0 10px;
	line-height: 20px;
	cursor:  pointer;
}
.tabUl li.active {
	color: #4caaf4;
	border-bottom: 2px solid #4caaf4;
}
.chartTop > span,.chartTop > select{
	vertical-align: middle;
	height: 22px;
	line-height: 22px;
	outline:  0;
}
.dateDiv{
	display:  inline-block;
	float: right;
	margin-right: 10px;
	position:  absolute;
	right: 70px;
	top: 0px;
}
.datebox {
	width: 65px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 0;
	cursor: pointer;
	background: url(../IntelligentRoadTest/images/calendar.png) no-repeat left;
	padding-left: 15px;

}
[v-cloak] {
	display: none !important;
}
.dateCycleStyle{
	color: #ccc;
}
.workOrderType{
	position: absolute;
	top: 26px;
	right: 68px;
	z-index: 1;
}
.tabOption{
	float: right;
}
.searchDiv{
	position: relative;
	display: inline-block;
}
.searchInput {
	width: 200px;
	height: 25px;
	padding-left: 10px;
	box-sizing: border-box;
}
.searchDiv img {
	position: absolute;
	right: 5px;
	top: 7px;
}
#orderExport{
	position: relative;
	margin-top: -1px;
}
.clickShowModal{
	color: #0d73b3 !important;
	cursor: pointer;
}
.addLine{
	color: #f2655e;
	text-decoration:underline;
}
.addLine2{
	color: #f2655e;
	text-decoration:underline;
}

@media screen and (min-width: 320px) and (max-width: 1566px) {
	.marginRight220{
		margin-right: 220px;
	}

}
