.btn-loadMore{
	background: #3699E6;
}
.btn-expData{
	background: #00B0A2;
}
.btn-loadMore img{
	margin: -3px 2px 0 0;
}
.tbli{
    text-align: center;
}
.pcbox_nr .pmore_1,.pcbox_nr .pmore_2,.pcbox_nr .pmore_3,.pcbox_nr .pbt{
    border: 0;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    background: none;
    margin: 0;
    padding: 0 10px;
}
.loadbtn{
	height: 30px;
	line-height: 26px;
	text-align: center;
	color: #fff;
	display: inline-block;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	padding: 0px 5px 0px 22px;
	box-sizing: border-box;
}
.pcbox_nr .pmore_1 .loadbtn {
    background: #3699E6 url(../../css/images/loadMore.png) no-repeat left;
    background-position: 5px;
    padding: 2px 5px 2px 25px;
}
.pcbox_nr .pmore_2 .loadbtn  {
    background: #3699E6 url(../../css/images/loading.png) no-repeat left;
    background-position: 5px;
    padding: 2px 5px 2px 25px;
}
.pcbox_nr .pmore_3 .loadbtn  {
	background-color: #f0f0f0 ;
}
.pcbox_nr .loadbtn:hover{
	background-color: #0072ba;
}

.pcbox_nr .pbt {
    display: inline-block;
}

.pcbox_nr .pbt .pbt_btn {
    width: 80px;
    height: 30px;
	line-height: 30px;
    text-align: center;
    color: #fff;
    display: inline-block;
    background: none;
    background-color:#00B0A2;
    cursor: pointer;
    border-radius: 5px;
}
.pcbox_nr .pbt .pbt_btn:hover {
    background: none;
    background-color:#00B0A2;
}
.nrp_dowm{width:20px;height:16px;display: inline-block;}
.nrp_up{ width:20px; height:16px; display:inline-block;}

.noBottom{
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

.table tr th {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  text-align: center;
  font-weight: normal;
  height: 20px;
  
}
.table tr td {
  padding: 10px 6px;
  border-left: 1px solid #dddddd;
  white-space: nowrap;
}
.table thead tr {
  background: #E1E7EB !important;
}
.table thead tr:first-child td{
  border-bottom: 1px solid #dddddd;
}
.table thead tr:first-child td.noBottom{
  border-bottom: 0 !important;; 
}
.table thead tr td.nowrap {
  white-space: nowrap;
}
.table tr:nth-child(even) {
  background: #F5F7F8;
}
.table tbody tr:hover{
  background: #E8F4FE;
}
.table tbody tr.hoverTr{
	background: #E8F4FE !important;
}
.table tbody tr.loadTr{
	background: #cdd7e0 !important;
}
.fixedDiv{
    float: left;
    height: 100%;
    overflow-x: hidden;
}
.scrollDiv{
    width:100%;
    overflow: auto;
    float: left;
    height: 100%;
    position: absolute;
    right: 0px;
}
.pcbox_nr {
    padding: 0;
    margin-top: 0;
}
.table th,.table tr td{
	padding: 0px !important; 
	border: 0 !important;
	border-left: 1px solid #dddddd !important;
}
.alltd{
	padding: 0px 5px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ddd;
    z-index: 99;
}
.table-bordered {
    border-top: 0;
}
.scrollDiv .table tr th:first-child,.scrollDiv .table tr td:first-child{
	border-left: 0px !important;
}
.nr_paixu.down .alltd{
    background: #C6C6C6 !important;
}
.btnGroup{
	text-align: center;
	clear: both;
	padding: 10px 0;
	box-sizing: border-box;
}
.btnDiv{
	display: inline-block;
	margin: 0 10px;
}
.positionDiv{
	position: relative;
	height: 100%;
	max-height: 100%;
	overflow: auto;
}
.tableDivClass{
	position: relative;
	height: 100%;
}

.tableWrap{
	padding: 0;
    margin-top: 0;
}
.normalTable{
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
}


/*定义滚动条高宽为0 适应某些电脑显示滚动条的问题*/
.fixedDiv::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}
.myPage{
	height: 25px;
    padding-top: 10px;
    clear: both;
}
.page{
    float: left;
}
.page-info{
	float: right;
}
.page >div{
	display: inline-block;
}
.page select,.page input[type=text]{
	height: 24px !important;
	margin: 0;
}
.page .page-page-list select{
	width: 60px;
	border: 1px solid #ECECEC;
}
.page .page-num{
	width: 40px !important;
	border: 1px solid #ECECEC;
	height: 20px;
	padding-left: 5px;
}
.page .page-pagination{
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom: 0;
    padding: 3px 10px;
    margin: 0 5px;
}
.page-load img{
	vertical-align: top;
}
.page span,.page-info span{
    background: none;
    padding: 0 !important;
    width: auto !important;
    height: auto !important;
    font-size: 14px;
}
.page a{
	width:14px;
	height: 14px;
	display:inline-block;
	vertical-align: text-top;
}
.first-disabled{
	background: url(../IntelligentRoadTest/images/111_03.png);
}
.prev-disabled{
	background: url(../IntelligentRoadTest/images/111_05.png);
}
.first-active{
	background: url(../IntelligentRoadTest/images/111_09_1.png);
}
.prev-active{
	background: url(../IntelligentRoadTest/images/111_07_1.png);
}
.next-active{
	background: url(../IntelligentRoadTest/images/111_07.png);
}
.last-active{
	background: url(../IntelligentRoadTest/images/111_09.png);
}
.next-disabled{
	background: url(../IntelligentRoadTest/images/111_05_1.png);
}
.last-disabled{
	background: url(../IntelligentRoadTest/images/111_03_1.png);
}

