#lean_overlay { 
position: fixed; 
z-index: 100; 
top: 0px; 
left: 0px; 
height: 100%;  
width: 100%; 
background: #000; 
display: none; }

.openWindow{background: none repeat scroll 0 0 #FFFFFF; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); display: none; padding-bottom: 2px; width: auto; z-index: 11000; left: 50%; margin-left: -202px; opacity: 1; position: fixed; top: 200px; }


#OpenWindow-header{background:#4fc1e9; 
border-bottom: 1px solid #CCCCCC;
border-top-left-radius: 5px;
border-top-right-radius: 5px;  
color: white; 
padding-top: 6px;
padding-bottom:6px;
padding-left:15px;
font-size: 14px;
} 

.modal_close { background: url("../images/icon_close.gif") no-repeat 0px 0px; 
display: block; height: 14px; position: absolute; 
right: 5px;
top: 6px; width: 14px; z-index: 2;
width:18px;height:18px;margin-top:0px; margin-right:2px;border:none;cursor:pointer;}

.modal_close:hover{
	 
}

