body{
	background-color: white;
}
.header{
	display:none;
	margin-top: 0;
}
.content{
	padding-right: 0px;
}
.content-left{
	display: none;
}
.showHideIcon{
	display: none;
}
.content-right{
	margin-right: 0px;
	padding-bottom: 0;
}
.mainWrapDiv{
	padding:0;
}
.footer{
	margin-bottom: 0;
}